{% extends "base.html" %}

{% block content %}
<!--This is my Register form-->
<div class="contact-form">
    <h3 class="contactH3">Register</h3>
    <div class="contact">
        <div class="input-group">
            <span class="input-group-text">Enter Your Name</span>
            <input type="text" aria-label="First name" class="form-control">
        </div>
    </div>
    <div class="contact">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
    </div> 
    <button>Submit</button>
</div>
</div>

{% endblock %}

